@rendermode InteractiveServer
@page "/Area"
@inject Services.Area.AreaService AreaService
@using spi;
@using System.IO;
@using spi.Services.Area;
@using spi.Models;
@using spi.Components.Pages.Area;
@inject IJSRuntime JS
@inject NavigationManager Navigation

@using System.Data;


<div class="card shadow p-4"
     style="background-color:#f0f0f0;color:black;border-radius:12px;">

    <h2 class="text-center mb-3">Gestión de Áreas</h2>
    <p class="text-center">Valida y administra las áreas registradas</p>
    @Message

    <div class="text-start mb-3">
        <RadzenButton Text="Agregar Área"
                      Icon="add_circle"
                      ButtonStyle="ButtonStyle.Primary"
                      Style="background-color:#00bcd4;border:none;font-weight:bold;
                                 border-radius:6px;box-shadow:0 4px 10px rgba(0,0,0,0.3);"
                      Click="@(() => createproy())" />
    </div>

    @if (orderDetails == null)
    {
        <p><em>Cargando...</em></p>
    }
    else
    {
        <div style="background-color:#2c2c2c;border-radius:8px;padding:1rem;">
            <RadzenDataGrid @ref="grid" Data="@orderDetails"
                            AllowVirtualization="true"
                            AllowFiltering="true"
                            FilterPopupRenderMode="PopupRenderMode.OnDemand"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or"
                            AllowSorting="true"
                            TItem="Area"
                            Style="height:400px;color:#e0e0e0;">
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(Area.Id)" Title="Id" />
                    <RadzenDataGridColumn Property="@nameof(Area.des_area)" Title="Área" />
                    <RadzenDataGridColumn Property="@nameof(Area.siglas_area)" Title="Siglas" />
                </Columns>
            </RadzenDataGrid>
        </div>
    }
</div>

@code {


    List<Area> orderDetails;
    RadzenDataGrid<Area> grid;



    public IEnumerable<Models.Area> area { get; set; }

    public string Message { get; set; }



    protected override async Task OnInitializedAsync()
    {

        try
        {

            orderDetails = await AreaService.GetAllAreaAsync();

        }
        catch (Exception e)
        {
            Message = e.Message;
        }
    }


    private void createproy()
    {
        // Lógica de abrir modal o lo que necesites

        Navigation.NavigateTo("/createarea");


    }



}
